<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <title>reply</title>
</head>
<body>
<!--<table class="table">
    <thead>
    <tr>
        <th>댓글</th>
        <th>날짜</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reply , i: ${replyList}">

        <td th:text="${reply.comments}"></td>
        <td th:text="${reply.createdAt}"></td>
    </tr>
    </tbody>
</table>-->
<!--<hr class="my-4">
<div class="replyResult" th:each="reply , i: ${reply}">
  <div>
    <input type="text" id="replyCommentsRes" size="70" name="replyCommentsRes" th:value="${reply.comments}" readonly>
    <input type="text" id="date" name="date" th:value="${reply.createdAt}" readonly>
  </div>
</div>-->

</body>
</html>