<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sportReply">
    <insert id="save" parameterType="sportReply" keyProperty="id">
        insert into sprot_board_reply(bno, writer, content, replyPass)
        values (#{bno},#{writer},#{content},#{replyPass})

    </insert>
    <select id="findById" parameterType="Long" resultType="sportReply">
        select id, bno, writer, content,
        date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt from sprot_board_reply
        where bno=#{bno}
    </select>
    <select id="findAll" resultType="sportReply">
        select id, writer, content, date_format(createdAt, "%Y-%m-%d %H:%i:%s") as createdAt
        from sprot_board_reply where bno=#{bno} order by id desc
    </select>
    <delete id="delete" parameterType="Long">
        delete from sprot_board_reply where bno=#{bno} or id=#{id}
    </delete>


</mapper>